html,
body {
    height: 100%;
}

body {
    background-image: url('../html_Images/birds_back.jpg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-attachment: scroll;
    background-position: right bottom;
}

#search {
    padding-left: 128px;
    padding-top: 200px;    
}

#seabird {
    visibility: hidden;
    float: left;
    padding-top: 100px;
    padding-left: 250px;
    width: 30%;
}

