@font-face {
    font-family: 'MyWebFont';
    src:  url('miss_smarty_pants_skinny-webfont.woff2') format('woff2'),
          url('https://drive.google.com/open?id=1ezByshuz1hyVClhbz6M8JW25_DZxaiao') format('woff'),
          url('Miss-Smarty-Pants-Skinny.ttf') format('truetype');
    font-weight: normal;
  }

html,
body {
    height: 100%;
}

body {
    background-image: url('/static/html_Images/birds_back.jpg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-attachment: scroll;
    background-position: right bottom;
    z-index: -1;
}

#search {
    padding-left: 128px;
    padding-top: 200px;    
}

#seabird {
    visibility: hidden;
    float:left;
    padding-top: 80px;
    padding-left: 178px;
    width: 30%;
}

#wikitable2 {
    padding: 5em;
}

#bird {
    display: inline-block;
    padding:50px;
}